.home {
  /* text-align: center; */
  /* padding: 1rem 0; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile {
  text-align: center;
}

.profile-title {
  align-items: center;
  background: #fff;
  border-radius: 3px;
  color: #f16529;
  display: flex;
  flex-shrink: 0;
  font-family: Hammersmith One;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  height: 38px;
  justify-content: center;
  line-height: normal;
  max-width: 242px;
  margin: 1.5rem auto;
}

.profile-desc {
  color: #b5b5b5;
  flex-shrink: 0;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.tech-stack {
  max-width: 449px;
  /* height: 44.504px; */
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  /* margin: auto; */
  margin: 2rem auto;
}

.contact-me {
  display: flex;
  margin: 4rem auto;
  max-width: 488.14px;
  gap: 1.5rem;
  align-items: center;
}

.contact-me .info {
  /* margin-left: 2rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.contact-me .info a {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.contact-me .info a span {
  color: #b5b5b5;
  font-family: Hammersmith One;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profile-photo {
  width: 85px;
  height: 70px;
  border-radius: 50%;
  /* border: 2px solid red; */
}

.Picture {
  display: none;
}

@media screen and (min-width: 768px) {
  .profile-name {
    font-size: 4.0625rem;
  }
}

@media screen and (min-width: 1200px) {
  .home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* padding-top: 3rem; */
  }

  .profile {
    text-align: left;
    margin-top: 3rem;
  }

  .profile-title {
    margin: 1.5rem 0;
  }

  .tech-stack {
    margin: 2rem 0;
  }

  .profile-desc {
    margin: 0;
    text-align: left;
    max-width: 572px;
  }

  .contact-me {
    margin: 7rem 0;
    gap: 3rem;
  }

  .contact-me .info a span {
    font-size: 1.4375rem;
  }

  .Picture {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Picture::after {
    content: "";
    width: 552px;
    height: 552px;
    border-radius: 50%;
    background: #232323;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }

  .Picture .saly {
    width: 700px;
    /* height: 778px; */
    flex-shrink: 0;
  }
}
