@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #292727;
  --primary-color: #fff;
}

.lightmode {
  --background-color: #fff;
  --primary-color: #292727;
}

body {
  background-color: var(--background-color);
  min-height: 100vh;
  color: var(--primary-color);
  font-family: Hammersmith One;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

h1,
p {
  margin-bottom: 1rem;
}

a,
.link {
  text-decoration: none;
  color: var(--primary-color);
}

.mycontainer {
  max-width: 1250px;
  padding: 0 1rem;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
}
